@import './../index.scss';

.section {
  @apply flex flex-col gap-4 rounded-xl bg-slate-500 bg-opacity-10 p-8;
}

.section__heading {
  @apply text-lg font-bold uppercase lg:text-base;
}

.nav__listitem {
  @apply text-sm font-bold uppercase;

  // =============================================================
  // Source: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
  // =============================================================
  a {
    @extend .subtitle-text;
    position: relative;
    text-decoration: none;
  }

  a:hover {
    @extend .accent-text;
  }

  a:hover::before {
    @extend .accent-text;
    transform: scaleX(1);
  }

  a.active {
    @extend .accent-text;
  }

  a.active::before {
    @extend .accent-text;
    transform: scaleX(1);
  }

  /* Animate the line from the left */
  a::before {
    @extend .accent-bg;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }
  // =============================================================
}

.description__text {
  @extend .subtitle-text;
  @apply text-sm leading-normal;
}

.date {
  @extend .subtitle-text;
  @apply text-sm uppercase;
}
